.intro {
    width: 100%;
    height: 100%;
}

.intro-content {
    max-width: 150px;
}

.intro-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.intro-text {
    font-size: 20px;
    text-align: center;
}

.show-btn,
.back-btn {
  /*I do not know why radius in html has no func*/
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
}

.back-btn {
    display: none;
}

.intro-w {
    transition: 60s cubic-bezier(1, -1, 0, 2);
    background: black;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0%, 0% 100%);

    position: absolute;
    left: 0;
    top: 0;
}

.intro-w .intro-content {
    position: absolute;
    left: 20%;
    top: 20%;
}

.intro-w .intro-text {
    color: white;
}

.intro-w .show-btn,
.intro-w .back-btn {
    background: white;
}

.intro-g {
    transition: 60s cubic-bezier(1, -1, 0, 2);
    background: white;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);

    position: absolute;
    left: 0;
    top: 0;
}

.intro-g .intro-content {
    position: absolute;
    right: 20%;
    bottom: 20%;
}

.intro-g .intro-text {
    color: #333;
    margin: 0;
}

.intro-g .show-btn,
.intro-g .back-btn {
    background: black;
}

.whole-page {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: 1;
}

.whole-page .intro-content {
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -99px;
    transition: all 0.5s ease;
}


/*
section 3 - interests
*/
.interest p {
    margin-top: 10px;
}

.interest-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: #0c3d5d;
}

/*placeholder*/
.interest-img.swiming {
    background-color: #3adb76;
}

.interest-img.playing {
    background-color: #cc8b00;
}