body,
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  font-family: "Helvetica Nenue", Helvetica, Arial, "Microsoft YaHei", sans-serif;
  font-size: 12px;
  color: #565656;
  font-weight: lighter;
}

h1 {
  font-size: 2em;
}

h4 {
  font-size: 1.083333em;
}

p, span {
  font-size: 1em;
}

a {
  color: #4a90e2;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.blog__container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f4f8f9;
  overflow: hidden;

  display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box; /* Firefox 17- */
  display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex; /* Firefox 18+ */
  display: -ms-flexbox; /* IE 10 */
  display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;

  flex: auto;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row; /* IE 10 */
  flex-wrap: nowrap; /* IE 11 */
  justify-content: space-between;
  -webkit-justify-content: space-between; /* IE 11 */
  align-items: flex-start;
  -webkit-align-items: flex-start; /* IE 11 */
}

.blog__panel {
  position: relative;
  height: 100%;
  background: #fff;
}