.content {
  display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box; /* Firefox 17- */
  display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex; /* Firefox 18+ */
  display: -ms-flexbox; /* IE 10 */
  display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;

  flex: auto;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column; /* IE 10 */
  flex-wrap: nowrap; /* IE 11 */
  justify-content: space-between;
  -webkit-justify-content: space-between; /* IE 11 */
  align-items: flex-start;
  -webkit-align-items: flex-start; /* IE 11 */

  margin-left: 20px;
  overflow-x: hidden;
}

.content__article {
  -webkit-box-flex: 1;

  flex: auto;
  -webkit-flex: auto;
  -ms-flex: auto;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.content__nav {
  display: block;
  padding: 0 30px;
  width: 100%;
  min-height: 70px;
  background-color: #e7eef0;
}

.content__nav a {
  vertical-align: middle;
  display: inline-block;
  padding: 0 15px;
  line-height: 70px;
  color: #8fa4af;
  text-decoration: none;
}

.content__nav a.active {
  border-bottom: 3px solid #745af2;
  color: #745af2;
  font-weight: bold;
}