.content {
  display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box; /* Firefox 17- */
  display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex; /* Firefox 18+ */
  display: -ms-flexbox; /* IE 10 */
  display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;

  flex: auto;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column; /* IE 10 */
  flex-wrap: nowrap; /* IE 11 */
  justify-content: space-between;
  -webkit-justify-content: space-between; /* IE 11 */
  align-items: flex-start;
  -webkit-align-items: flex-start; /* IE 11 */

  margin-left: 20px;
  overflow-x: hidden;
}

.content__article {
  -webkit-box-flex: 1;

  flex: auto;
  -webkit-flex: auto;
  -ms-flex: auto;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  padding: 25px 25px 25px 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.content__article section {
  padding: 25px 130px 25px 0;
}

.content__nav {
  display: block;
  padding: 0 30px;
  width: 100%;
  min-height: 70px;
  background-color: #e7eef0;
}

.content__nav a {
  vertical-align: middle;
  display: inline-block;
  padding: 0 15px;
  line-height: 70px;
  color: #8fa4af;
  text-decoration: none;
}

.content__nav a.active {
  border-bottom: 3px solid #745af2;
  color: #745af2;
  font-weight: bold;
}

.content__name {
  display: inline;
  font-weight: bold;
  margin: 0;
}

.content__name ~ label {
  float: right;
}

.content__title {
  display: block;
  margin: 10px 0 5px;
  line-height: 1.2em;
}

/* Company */
.self-company__logo {
  position: relative;
  vertical-align: top;
  display: table-cell;
}

.self-company__logo--a:before {
  background-color: #0098fb;
}

.self-company__logo--b:before {
  background-color: #f61f46;
}

.self-company__logo:before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  width: 3px;
  height: 130px;
}

.self-company__logo > div {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin: 0 40px;
  width: 74px;
  height: 74px;
  background-color: #d8d8d8;
  border-radius: 50%;
}

.self-company__logo .company {
  font-size: 4em;
  line-height: 74px;
  color: #fff;
}

.self-company__info {
  vertical-align: top;
  display: table-cell;
}

.content__title ~ p {
  margin-top: 5px;
  line-height: 1.2em;
}
/* end of Company */